.arrow-style {
    background-color: #078286cb !important;
    padding: 9px;
    width: 40px !important;
    height: 40px !important;
    border: 3px solid black !important;  
    color: white !important;  
    z-index: 1001;
  }
